[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
"oauth2client" = "*"
pymysql = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
twine = "*"

[requires]
python_version = "3.6"
